#Movies {
  margin-top: 1rem;
  padding: 0 1rem;
  position: relative;
  height: calc(100vh - 10.2rem);
}

#Movies ul {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 100%;
}

#Movies ul::-webkit-scrollbar {
  display: none;
}
