#Movies {
  margin-top: 1rem;
  padding: 0 1rem;
  position: relative;
  height: calc(100vh - 10.2rem);
}

#Movies ul {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

#Movies button {
  position: absolute;
  padding: 0;
  top: 0;
  bottom: 0;
  border: none;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 4rem;
}
#Movies button:hover {
  cursor: pointer;
}
#Movies button:focus {
  outline: none;
}
#Movies .btnRight {
  padding-right: 1rem;
  margin-right: 1rem;
  right: 0;
}
#Movies .btnLeft {
  padding-left: 1rem;
  margin-left: 1rem;
  left: 0;
}
