#Movies li {
  color: #333;
  margin-right: 1rem;
  text-align: center;
}

#Movies li img {
  height: 300px;
}

#Movies li p {
  margin: 0;
  font-weight: bold;
}

#Movies li span {
  font-weight: normal;
}

.pna {
  position: relative;
  border: 1px solid #ddd;
}
.pna-img {
  visibility: hidden;
}
.pna-content {
  position: absolute;
  left: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
}
