#Main {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .movie-details {
    flex-direction: column;
    align-items: center;
  }
  #Movies {
    height: auto;
  }
  .arrow-left,
  .arrow-right {
    display: none;
  }
  #Movies {
    height: calc(100vh - 10.2rem);
  }
}
