#Movies {
  padding: 0 1rem;
  position: relative;
  height: calc(100vh - 10.2rem);
}

#Movies .window {
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 100%;
  text-align: left;
}

#Movies .window::-webkit-scrollbar {
  display: none;
}

#Movies .window ul {
  display: inline-flex;
  height: 100%;
}
