header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background-color: #000;
  margin-bottom: 1rem;
}

header .logo {
  width: 80px;
  height: 50px;
  fill: #fff;
}

header h1 {
  color: #fff;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul a {
  text-decoration: none;
  color: #fff;
  padding: 1.5rem;
}

header nav ul a li {
  border-bottom: 3px solid #000;
}
header nav ul a:hover li {
  border-bottom: 3px solid #ddd;
}

@media screen and (max-width: 600px) {
  header h1 {
    display: none;
  }
}
