header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  background-color: #000;
}

header .logo {
  width: 80px;
  fill: #fff;
}

header h1 {
  color: #fff;
}

header ul {
  color: #fff;
}
