form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.search {
  border: 1px solid #ddd;
  border-radius: 2rem;
  width: 400px;
  overflow: hidden;
  height: 3rem;
  padding: 0.1rem;
}

.search input {
  width: 80%;
  margin: 0;
  padding: 0 1rem;
  border: none;
  height: 100%;
}
.search input:focus {
  outline: none;
}

.search button {
  width: 20%;
  border: none;
  height: 100%;
  padding: 0 1rem;
  margin: 0;
  border-radius: 2rem;
}
.search button:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #ddd;
}
